section {
    display: flex;
    color: #03225c;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    position: fixed;
  
}


section::before {
    content: " ";
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    opacity: .5;
}

h2 {
    font-size: larger;
    padding-bottom: 20px;
    opacity: 0;
    transition: all 3s;
    position: relative;
    top: -20px;
}

p  {
    opacity: 0;
    transition: all 3s;
    position: relative;
 
}

.play {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cd0067;
    border-radius: 100%;
    cursor: pointer;
    z-index: 99;
}

.step1 {
    opacity: 0;
    transition: all 1s;
}


.step1::before {
    background-image: url('../image/toulouse.jpg');


}

.step2 {
    opacity: 0;
    transition: all 1s;
}

.step2::before {
    background-image: url('../image/londonbridge.jpg');

}

.step3 {
    opacity: 0;
    transition: all 1s;
}

.step3::before {
    background-image: url('../image/londoneyewithflowers.jpg');

}

.step4 {
    opacity: 0;
    transition: all 1s;
}
.step4::before {
    background-image: url('../image/londoneye.jpg');
}

.step5 {
    opacity: 0;
    transition: all 1s;
}
.step5::before {
    background-image: url('../image/florida.jpg');
}

.stepinner img {
    width: 200px;
    height: 200px;
    padding-bottom: 20px;

}
.play img {
    width: 100%;
    height: 100%;

}

.stepinner {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin:auto;
    padding: 20px;

}

